html {
    height: 100%;
    width: 100%;
}

body {
/*     font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    border: 10px;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 1em;
}

#posts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
}

bottom {
    margin-top: auto; /* Align text to the bottom of the page */
    padding: 10px; /* Padding inside the paragraph */
}

.container {
    display: flex;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    padding: 20px;
    justify-content: center; /* Align contents horizontally */
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
}
